@model ComplaintRequestSystem.Models.Complaint.ComplaintViewModel

@{
    ViewData["Title"] = "Complaint Detail";
}


<div class="body">

    @if (Model is not null)
    {
        <div class="card">

            <img src="@Model.ImageUrl" class="card-img-top" />

            <div class="card-header">

                <h5>
                   Complaint Text: @Model.ComplaintText
                </h5> 


              

                @if (User.IsInRole("AppUser"))
                {
                    <a asp-controller="Complaint" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>

                    <form asp-controller="Complaint" asp-action="DeleteComplaint" asp-route-id="@Model.Id" method="post" class="del-btn">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                }
                 
                

            </div>
        </div>
    }

</div>
